body {
    background-color: orange;
}

.flexbox {
    background-color: white;
    opacity: 100;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    
    
} 


/*.flexbox2 {
    background-color: white;
    opacity: 100;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 7px;
    padding-left: 5px;
    margin-left: 5px;
    padding-right: 6px;

}
*/

.NextP {
    padding-left: 100%;
    
}

h6 {
    font-family: sans-serif,cursive;
    font-weight: bold;
}

.headng {
  font-size: 30px;
  font-weight: bold;
}

.Modalsc{
    width: 25%;
}


.button-opt{
  padding-top:30px;
  padding-bottom: 20px;
}
.pad-btn{
  padding: 10px 15% 10px 15%;
}

.delete-modal {
    padding-top: 35vh;
    display: none;
    position: fixed;
    z-index: 1;
    left: 1px;
    top: 1px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
}

.formdel {
  height: 15vh;
}

.deletebutt {
  display: flex;
  justify-content: space-around;
}

.Yes-btn {
  background-color: rgba(218, 68, 42, 0.767);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 4px;
  font-family: sans-serif,cursive;
  font-weight: 500px;
}

.No-btn {
  background-color: rgba(0, 128, 0, 0.61);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 4px;
  font-family: sans-serif,cursive;
  font-weight: 500px;
}
