
@font-face {
    font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    src: url(../images/MarckScript-Regular.ttf);
}

@font-face {
    font-family: 'Satisfy';
    font-style:normal;
    font-weight: 400;
    src: url(../images/Satisfy-Regular.ttf);
}

body {
    font-family: sans-serif;

}

label {
    font-size: 25px;
}
button {
    background-color: #ecb910;
    color: rgb(2, 2, 2);
    padding: 10px 10px 10px 10px;
    margin: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
    font-family: sans-serif;
    font-weight: bold;
}
button:hover {
    opacity: 2;
}

.topButtons {
    width: 90px;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 90%;
    background: #0000ff;
    color: rgb(255, 255, 255);
    float: right;
    border-radius: 10px;
    border-style: solid;
    border-color: gainsboro;
    border: 5px 5px 5px 5px;

    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.topButtons:hover {
    background-color:rgba(44, 43, 38, 0.459);
}

.flexButtons {
    display: flex;
    float: right;
    box-shadow: gray;
}

.logo-title {
    font-family: 'Satisfy',cursive;
    font-size: 50px;
    color: #112fb4;
    margin: auto;
    text-decoration: none;
    margin: 10px 10px 0px 0px;
} 
h1 {
    text-align:center;
    font-family: 'Abel', sans-serif;
}
.middleText {
    font-family: 'Marck Script',cursive;
    margin:0;
    
}

.Modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 75px;
    left: 1px;
    top: 1px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
}

.Modal-Content {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 22%;
}

.close {
    color: gray;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.close:hover {
    color: black;
}
.close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;

}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input{
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: rgb(218, 213, 213);
    color: rgb(0, 0, 0);
    border: rgb(0, 0, 0);
}

label {
    margin: 0 0 10px;
}

.submit-butt {
    background-color: #6cc903;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 0;
}

.heading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
 hr {
     width: 100%;
     color: #000000;
     text-align: center;
     margin-top: 10px;
     margin-bottom: 30px;
 }

.login {
    display: inline-block;
    margin-top: 0;
}

.SignUp{
    font-size: 15px;
    font-family: sans-serif, cursive;
    font-weight: bold;
    color: rgb(0, 0, 255);
    text-decoration: none;
}



.login-form{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    
}