/* styles for classes and tags that we included in post.html page */

html {
    background-color: white;
}

.Post-heading {
    font-family: sans-serif;
    line-height: 5px;
    text-align: center;
    margin-top: 3.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
    
}

.Post-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 20px;
    font-family: 'Marck Script',cursive;
    font-weight: 800;
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 20px;
    line-height: 35px;

}

.Post-content {
    background-color: white;
    color: black;
    font-family: sans-serif,cursive;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
    text-align: justify;
    
}

.Like {
    background-color: rgb(248, 33, 69);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    margin-top: 30px;
    margin-left: 70px;
    border: none;
    font-family: sans-serif,cursive;
    
}

.Edit {
    background-color: rgb(255, 49, 83);
    font-weight: bold;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 2px;
    color: white;
    margin-top: 30px;
    margin-left: 70px;
    border: none;
    
}

.LikeC {
    margin-left:  70px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: normal;
    font-family: sans-serif,cursive;
}

.Comments {
    margin-left: 70px;
    font-family: sans-serif,cursive;
    font-size: 17px;
    background-color: rgba(128, 128, 128, 0.219);
    width: 55%;
    height: 18vh;
    border-width: none;
    padding-left: 10px;
    padding-top: 10px;
}

.comment-S {
    margin-bottom: 50px;
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 22px;
}

.Out-comm {
    background-color: rgba(128, 128, 128, 0.411);
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 59%;

}

.Out-P {
    margin-left: 5px;
    margin-right: 70px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 25px;
    width: 90%;
    background-color: white;

}

.Newclass {
    border-radius: 4px;
    border-color: black;
}
